.statusBar {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem 1rem 1rem;

    span:first-of-type {
        margin-bottom: 1rem;
    }

    @media (min-width: 400px) {
        flex-direction: row;
        justify-content: space-between;

        span:first-of-type {
            margin-bottom: 0;
        }
    }
}