@import '../../variables.scss';

$box-size: 10rem;

.BoxIcon {
    border: 2px solid white;
    padding: 1rem;
    cursor: pointer;
    width: $box-size;
    height: $box-size;
    color: white;

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title {
        margin-bottom: 1rem;
    }

    img {
        width: $box-size - 2rem;
        height: $box-size - 4rem;
    }

    &:hover {
        background-color: white;
        color: $purple;
    }
}