@import '../../variables.scss';

.Screen {
    background-color: $purple;
    width: 100vw;
    min-height: 100vh;
    color: white;
    overflow-y: scroll;

    &.center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}