@import '../../variables.scss';

.Screen {
    background-color: $purple;
    width: 100vw;
    height: 100vh;
    color: white;

    &.center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}